ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: inherit;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 374.98px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 767.98px;
  }
}

/* ================= HEADER ================= */

/* header {
 
  margin: 0 auto;
} */

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #b91d6e;
  gap: 7px;
}

.header-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.header-list-text {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.header-icon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .header-list {
    padding: 20px;
    justify-content: space-around;
  }

  .header-list-item {
    gap: 10px;
  }

  .header-icon {
    width: 40px;
    height: 40px;
  }

  .header-list-text {
    font-size: 16px;
  }
}
/* -------------- image --------------- */

.main-photo {
  margin: 0 auto;
}

/* -------------- image --------------- */

/* -------------- price --------------- */
.price {
  display: flex;
  margin: 0 auto;
}

.old-price {
  background-color: rgb(219, 219, 219);
  padding: 10px;
  width: 50%;
  text-align: center;
  font-size: 13px;
  color: #333;
}

.old-price-text {
  margin-bottom: 7px;
}

.old-price-sum {
  font-size: 22px;
  margin-top: 7px;
  font-weight: 600;
}

.old-price-through {
  text-decoration: line-through;
}

.today-price {
  background-color: #b91d6e;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 13px;
}

.today-price-text {
  margin-bottom: 7px;
}

.today-price-sum {
  font-size: 22px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .old-price {
    padding: 15px;
  }

  .old-price-sum {
    font-size: 28px;
  }

  .today-price {
    padding: 15px;
  }

  .today-price-sum {
    font-size: 28px;
  }
}
/* -------------- price --------------- */

/* --------------- timer ------------ */
.timer {
  padding: 20px;
  text-align: center;
}

.timer-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.timer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.time-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #b91d6e, transparent);
}

.time {
  font-size: 20px;
  font-weight: 600;
}

.time-box-text {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .timer {
    padding: 35px;
  }

  .timer-header {
    font-size: 22px;
  }

  .timer-box {
    gap: 20px;
  }

  .time-box {
    padding: 20px;
  }

  .time {
    font-size: 35px;
  }

  .time-box-text {
    font-size: 15px;
  }
}
/* --------------- / timer ------------ */

/* ------------ order link  -------- */
.order-link-btn {
  text-align: center;
  padding: 20px 0px 5px;
}

.order-link {
  display: inline-block;
  margin: 50px;
  padding: 20px 15px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  background-color: #e93994;
  margin-bottom: 20px;
  transition: background-color 250ms linear;
}

.order-link:hover,
.order-link:focus {
  background-color: #a20f5b;
}

.order-link-text {
  font-size: 12px;
  font-weight: 600;
  color: rgb(100, 2, 100);
}

.order-link-text-color {
  color: #b91d6e;
}

@media screen and (min-width: 768px) {
  .order-link {
    font-size: 22px;
    padding: 25px 20px;
  }

  .order-link-text {
    font-size: 17px;
  }
}

/* ------------ / order link  -------- */

/* ------------- video ----------- */
.video {
  width: 100%;
}
/* ------------- / video ----------- */

/* --------- advantages --------*/
.advantages {
  padding: 20px 10px 0px;
}

.advantages-list {
  text-align: center;
}

.advantages-list-item {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  position: relative;
  padding: 15px;
  border-radius: 15px;
}

.advantages-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  fill: #b91d6e;
  top: 50%;
  left: 7%;
  transform: translate(-50%, -50%);
}

.advantages-text {
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding: 30px 50px;
  }

  .advantages-list-item {
    padding: 25px;
  }

  .advantages-icon {
    width: 40px;
    height: 40px;
  }

  .advantages-text {
    font-size: 23px;
  }
}

/* --------- / advantages --------*/

/* ---------- information ----- */

.information {
  padding: 20px 0px;
}

.information-header {
  text-align: center;
  margin-bottom: 15px;
  color: #b91d6e;
  font-weight: 800;
  text-transform: uppercase;
}

.information-header-black {
  color: #333;
}

.information-img {
  width: 100%;
}

.information-list {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.information-list-item {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .information-header {
    font-size: 28px;
  }

  .information-list {
    gap: 25px;
    margin: 30px 10px;
  }

  .information-list-item {
    font-size: 22px;
  }
}
/* ---------- / information ----- */

/* characteristics */

.characteristics {
  background-color: rgb(11, 98, 107);
  padding: 20px 0px;
  text-align: center;
}

.characteristics-title {
  color: white;
  margin-bottom: 20px;
}

.characteristics-list {
  margin: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.characteristics-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: white;
  font-weight: 500;
  text-align: left;
}

.characteristics-text {
  width: 120px;
}

@media screen and (min-width: 768px) {
  .characteristics {
    padding: 40px 20px;
  }

  .characteristics-list {
    margin: 40px 20px 60px;
  }

  .characteristics-text {
    width: 35%;
    font-size: 22px;
  }
}

/* ---------- review  -------*/
.reviews {
  padding: 20px 10px;
  text-align: center;
}

.reviews-title {
  margin-bottom: 20px;
  color: #333;
}

.review-img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 3px 3px rgb(205, 205, 205);
}

@media screen and (min-width: 768px) {
  .reviews {
    padding: 30px 0px;
  }
  .reviews-title {
    margin-bottom: 35px;
  }
  .review-img {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

/* ---------- / review  -------*/

/* ----------- how to order ------ */
.how-to-order {
  padding: 20px 10px;
  text-align: center;
}

.how-title {
  margin-bottom: 30px;
}

.how-list {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.how-list-item {
  background-color: #b91d6e;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  position: relative;
}

.how-icon {
  width: 35px;
  height: 35px;
  fill: white;
}

.how-text {
  color: white;
  font-size: 14px;
}

.how-number {
  position: absolute;
  color: white;
  font-weight: 600;
  background-color: #b91d6e;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  border: 1px solid white;
}

@media screen and (min-width: 768px) {
  .how-list {
    max-width: 600px;
  }

  .how-list-item {
    padding: 20px;
    margin-bottom: 40px;
    gap: 20px;
  }

  .how-icon {
    width: 40px;
    height: 40px;
  }

  .how-text {
    font-size: 18px;
  }

  .how-number {
    transform: translate(-50%, -190%);
    font-size: 18px;
    padding: 5px 11px;
  }
}

/* ----------- / how to order ------ */

/* ---------- order -------- */
.form-box {
  padding: 20px 10px;
  text-align: center;
}

.order-title {
  margin-bottom: 20px;
}

.order-text {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 20px auto;
}

.form-input {
  border: none;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
}

.input-address::placeholder {
  font-size: 16px;
}

.order-submit {
  background-color: #b91d6e;
  padding: 20px;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 250ms linear;
}

.order-submit:hover,
.order-submit:focus {
  background-color: #850045;
  box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

@media screen and (min-width: 768px) {
  .form-box {
    padding: 30px 20px;
  }

  .form {
    max-width: 500px;
    gap: 30px;
  }
}
/* ----------/ order -------- */

/* ---------- politic ----------- */
.politic {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  gap: 15px;
}

.politic-link {
  text-decoration: underline;
  font-size: 12px;
}

/* modal-thanks */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 500ms linear, visibility 700ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.thanks {
  background-color: #fff;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.thanks-title {
  text-align: center;
}

.thanks-link {
  background-color: #b91d6e;
  color: white;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 25px;
  transition: background-color 250ms linear;
}

.thanks-link:hover,
.thanks-link:focus {
  background-color: #92054e;
}

@media screen and (min-width: 768px) {
  .thanks {
    padding: 30px 25px;
    gap: 25px;
  }

  .thanks-link {
    padding: 15px 30px;
  }
}
